/*Background with color*/
body {
  margin: 0;
  padding: 200px 500px;
  background-color: #a06be0;
}

/*Card block*/
.card {
  width: 700px;
  margin: 0 auto;
  background: #ffffff;
  padding: 50px 70px 70px;
}

/*Title*/
.faq-title {
  font-size: 32px;
  margin: 0 0;
  padding: 0px 300px;
}

.faq-list {
  margin: 10px;
  padding: 10px;
}

.faq-item {
  border-bottom: 1px solid #b2b2b2;
  padding: 18px 0;
}

.faq-item summary {
  font-weight: bold;
}

.faq-answer {
  margin: 12px 0 0;
  color: #777;
  font-size: 14px;
}